* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin: 1rem 0;
}

p {
    color: hsl(228, 12%, 48%);
    margin: 1rem 0;
}

.card__container {
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.card__img-mobile {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card__img-desktop {
    display: none;
}

.card__content-container {
    padding: 30px;
}

.card__product-label {
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.card__product-information h1 {
    line-height: 2.2rem;
}

.card__product-description {
    font-size: .875rem;
    line-height: 1.5rem;
}

.card__product-price {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 10px;
}

.card__product-price h1 {
    color: hsl(158, 36%, 37%);
}

.card__product-price p {
    text-decoration: line-through;
    padding-left: 30px;
    font-size: .875rem;
}

.card__cart-button {
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    height: 60px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__cart-button img {
    padding-right: 15px;
}

.card__cart-button:hover {
    background-color: hsl(157, 37%, 24%);
}

.credit {
    font-size: 11px;
    text-align: center;
}

.credit a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {

    h1, p {
        margin: .5rem 0;
    }

    .card__product-label {
        margin-bottom: 1rem;
    }

    .card__product-information h1 {
        margin-bottom: 1rem;
    }

    .card__container {
        width: 600px;
        max-width: 600px;
        max-height: 450px;
        flex-direction: row;
    }

    .card__content-container {
        width: 100%;
    }

    .card__img-mobile {
        display: none;
    }
    .card__img-desktop {
        display: block;
        width: 48%;
        border-radius: 10px 0 0 10px;
    }

    .card__product-price {
        margin-bottom: 15px;
    }

    .card__cart-button {
        font-size: .875rem;
        height: 50px;
    }
}