* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: .875em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

p {
    color: hsl(228, 12%, 48%);
}

#content-wrapper {
    width: 90%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    margin: 30px 0;
}

#image {
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
    background: url(../images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
}

#content {
    margin: 0 30px;
}

#label {
    text-transform: uppercase;
    letter-spacing: .5em;
    margin: 15px 0;
}

#information h1 {
    margin-bottom: 20px;
}

#description {
    margin-bottom: 20px;
    line-height: 1.5em;
}

#price {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#price h1 {
    color: hsl(158, 36%, 37%);
}

#price p {
    text-decoration: line-through;
    padding-right: 90px;
}

.button {
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:hsl(0, 0%, 100%);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.button img {
    padding-right: 10px;
}

button:hover {
    background-color: hsl(157, 37%, 24%);
}

@media (min-width: 1200px) {
    /*body {
        flex-flow: row wrap;
    }*/

    #content-wrapper {
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    #image {
        height: 450px;
        width: 300px;
        background: url(../images/image-product-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        border-radius: 10px 0 0 10px;
    }

    #content {
        width: 300px;
    }

    #description {
        margin-bottom: 30px;
    }

    #price {
        margin-bottom: 40px;
    }

    #cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        margin-bottom: 10px;
    }
}